/* Default Styling */
*{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 1.5vh;
    padding: auto;

    border-radius: 0;
    
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: normal;
}

/* Directions */
#text{
    text-align: center;
}

/* Text Box */
#words{
    position: relative;
    left: 50%;
    transform: translate(-50%);

    width: 95%;
    height: 25vh;

    border: 1px solid black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;

    resize: none;
}

/* Button Area */
#buttonArea{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

/* General Button Decoration */
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    border: 0px;
}

#buttons:hover{
    cursor: pointer;
}


/* Start Button */
.start{
    background-color: rgba(20, 130, 20, 1);
    color: white;

    margin: 0;
}

/* Options Button */
.open-button{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

/* Close Button */
.closeOptions{
    background-color: rgba(200, 15, 15, 1);
    color: white;
    cursor: pointer;

    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 0;
}


/* Options Popup */
.optionsModal{
    padding: 1em;
    border: 0;
    max-width: 50ch;

    position: sticky;
    left: 50%;
    transform: translate(-50%);
    border: 0;
}

.optionsTitle{
    font-weight: bold;
}

.optionsModal::backdrop{
    background: rgb(0, 0, 0, .4);
}